@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,700&display=swap');

/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    padding-top: 2rem;
}

h3 {
    text-align: center;
}

/* Set a background color for the whole page */
body {
    background-color: #f4e1d2;
    font-family: 'Josefin Sans', Arial, sans-serif;
    margin-top: 70px;
}

section p {
    margin-bottom: 1rem;
}

.aboutUs {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
}

/* Style the header */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5e4630;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

.logo,
.logo:hover,
.logo:active {
    text-decoration: none;
    color: #fff;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
}

header p {
    font-size: 1rem;
    font-weight: 300;
}

/* Style the navigation menu */
nav {
    position: relative;
    width: 100%;
    background-color: #5e4630;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav li {
    display: block;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link  {
    color: rgba(0,0,0,.7) !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    font-size: 1.05rem;
    color: black !important;
}

.shadow-line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Style the featured categories section */
.featured-categories {
    text-align: center;
    margin: 20px 0;
    margin-bottom: 4.5rem;
}

.category {
    display: inline-block;
    margin: 10px;
}

.category img {
    max-width: 100%;
    height: auto;
}

.category h3 {
    font-size: 2rem;
    color: #5e4630;
}

/* Style the container for the image and overlay */
.category {
    position: relative;
    width: 80%;
}

.image-container {
    overflow: hidden;
    position: relative;
}

/* Apply a filter to the image by default */
.category-image {
    max-width: 100%;
    transition: filter 0.3s ease;
}

/* When hovering over the .category-link, remove the filter and show the overlay */
.category-link:hover .category-image {
    filter: none;
}

/* Style the overlay text */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: rgba(226, 194, 166, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* When hovering over the .category-link, make the overlay text visible */
.category-link:hover .overlay {
    opacity: 1;
}

/* Style the blogposts */
.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100%;
    padding: 20px;
    margin-top: 1rem;
}

.blog-post {
    text-align: center;
    max-width: 100%;
    margin-bottom: 2rem;
}

.category-links, .category-links:hover {
    text-decoration: none;
    color: #000;
}

.container {
 margin-bottom: 4rem;
}

@media (min-width: 800px) {
    .blog-post {
        max-width: 40%;
    }
    .aboutUs {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 5rem;
    }
}

@media (max-width: 800px) {
    .aboutUs {
        margin-left: .8rem;
        margin-right: .8rem;
        margin-bottom: 5rem;
    }
}

.blog-post img {
    width: 100%;
    height: auto;
}

/* Style the form */
form {
    text-align: center;
}

button[type="submit"] {
    background-color: #5e4630;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

button[type="submit"]:hover {
    background-color: #8a6752;
}

/* Style the footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5e4630;
    color: #fff;
    text-align: center;
    padding: 0 0;
}

a:hover {
    color: #8a6752;
}